<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/header :: head"></head>

<body class="bg-light">

<div th:replace="fragments/header :: header"></div>

<div class="d-flex">
    <div th:replace="fragments/sidebar :: sidebar"></div>

    <div class="content p-4">
        <h2 class="mb-4">Deals list</h2>

        <div class="card mb-4">

            <div class="card-body">
                <form class="form-group" th:action="@{/deal/create}">
                    <button type="submit" class="btn btn-primary">Create new</button>
                </form>

                <table id="deals" class="table table-hover" cellspacing="0" width="100%">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Date</th>
                        <th>Client Id</th>
                        <th>Manager Id</th>
                        <th>Product Id</th>
                        <th>Connection type</th>
                        <th>Status</th>
                        <th class="actions">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="d : ${deals}">
                        <td th:text="${d.id}"></td>
                        <td th:text="${d.date}"></td>
                        <td th:text="${d.clientId}"></td>
                        <td th:text="${d.managerId}"></td>
                        <td th:text="${d.productId}"></td>
                        <td th:text="${d.connectionType}"></td>
                        <td th:text="${d.status}"></td>
                        <td>
                            <a th:href="@{/deal/{id}/edit(id=${d.id})}" class="btn btn-icon btn-pill btn-primary"
                               data-toggle="tooltip" title="Edit">
                                <i class="fa fa-fw fa-edit"></i>
                            </a>
                            <form th:action="@{/deal/{id}/delete(id=${d.id})}" th:method="delete" class="d-inline">
                                <button class="btn btn-icon btn-pill btn-danger" data-toggle="tooltip" title="Delete">
                                    <i class="fa fa-fw fa-trash"></i>
                                </button>
                            </form>
                            <a th:href="@{/deal/{id}/invoice(id=${d.id})}" class="btn btn-icon btn-pill btn-info"
                               data-toggle="tooltip" title="Invoice">
                                <i class="fa fa-fw fa-file"></i>
                            </a>
                            <a th:href="@{/deal/{id}/report(id=${d.id})}" class="btn btn-icon btn-pill btn-info"
                               data-toggle="tooltip" title="Report">
                               <i class="fa fa-fw fa-file-alt"></i>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>

<script th:replace="fragments/footer :: scripts"></script>
<script th:src="@{/js/datatables.min.js}"></script>
<script>
    $(document).ready(function () {
        $('#deals').DataTable();
    });
</script>

</body>
</html>