<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/header :: head"></head>

<body class="bg-light">

<div th:replace="fragments/header :: header"></div>

<div class="d-flex">
    <div th:replace="fragments/sidebar :: sidebar"></div>

    <div class="content p-4">
        <h2 class="mb-4" th:if="${edit}">Edit manager</h2>
        <h2 class="mb-4" th:if="${create}">Create manager</h2>

        <form th:object="${manager}" method="post" th:action="@{/manager}" enctype="multipart/form-data">
            <div class="card mb-4">
                <div class="card-body">
                    <input th:type="hidden" th:field="*{id}">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input th:field="*{name}" type="text" class="form-control" id="name" placeholder="Enter name"
                               required>
                    </div>
                    <div class="form-group">
                        <label for="phone">Phone</label>
                        <input th:field="*{phone}" type="text" class="form-control" id="phone" placeholder="Phone"
                               required>
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input th:field="*{email}" type="text" class="form-control" id="email" placeholder="Email"
                               required>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input th:field="*{password}" type="text" class="form-control" id="password" placeholder="Password"
                               required>
                    </div>
                    <div class="form-group">
                        <label for="login">login</label>
                        <input th:field="*{login}" type="text" class="form-control" id="login" placeholder="Login"
                               required>
                    </div>
                </div>
                <div class="card-footer bg-white">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script th:replace="fragments/footer :: scripts"></script>

</body>
</html>
